{% import "/macros.html" as macros %}

<h1>{{ _("Password reset") }}</h1>
<div id="temp-password-description" class="row">{{ gettext("Please send this temporary password to %(firstname)s %(lastname)s", firstname=firstname, lastname=lastname) }}</div>
<div id="temp-password" class="row">{{ temp_password }}</div>
<button id="copy-to-clipboard-btn" class="btn btn-primary mb-3">{{ _("Copy to clipboard") }}</button>
<a href="{{ url_for('user_views.users') }}">{{ _("Come back to users list") }}<a>
<script>
document.getElementById("copy-to-clipboard-btn").addEventListener("click", (evt) => {
	console.log("Copy temporary password to clipboard");
	navigator.clipboard.writeText(document.getElementById("temp-password").innerHTML);
});
</script>
